{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div>
        <h1>{{query}}</h1>
    </div>
    <div>
        <img src="{{ asset('img/' ~ queryLink ~ '.png') }}" alt="monde" width="400" height="400">

    </div>
</div>
{% endblock %}
