{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div>
        <h1>Hello {{name|capitalize}}! 👋</h1>
    </div>
    <div>
        <img src="{{ asset('img/monde.png') }}" alt="monde" width="400" height="400">
    </div>
</div>
{% endblock %}
