{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div>
        <h1>Bienvenue sur le site!</h1>
    </div>
    <a style="text-decoration: none;" href="{{path('app_tab')}}">Lien vers le tableau 📅</a>
    <a style="text-decoration: none;" href="{{path('app_hello', {name: 'arthur'})}}">Hello Arthur 👋</a>
    <div>
        <img src="{{ asset('img/porte.png') }}" alt="monde" width="400" height="400">
    </div>
</div>
{% endblock %}
